.App {
  text-align: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items:center;
  background-color: #ccc;
}

.navbar__cart {
  width: 30px;
  height: 30px;
}

.categorias {
  width: 60%;
  
}

.categorias__menu {
  list-style-type: none;
  display:flex;
  justify-content:space-between;
}

.categorias__item a {
  text-decoration: none;
}
.categorias__item a:link {
  color: black;
}

.item__title {
  font-size: 3rem;
}
